%h2 Sign up

= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name), :class => 'column width4 first' do |form|
  = devise_error_messages!
  = form.inputs do
    = form.input :email
    = form.input :password
  = form.buttons do
    = form.commit_button :label => t('devise.registrations.new.create', :default => "Signup")
= render :partial => "devise/shared/links"
