%p= t('devise.mailer.reset_password.welcome', :default => "Hello #{email}!", :email => @resource.email)
%p= t('devise.mailer.reset_password.link_requested', :default => "Someone has requested a link to change your password, and you can do this through the link below.")
%p= link_to t('devise.mailer.reset_password.change_password', :default => 'Change my password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t('devise.mailer.reset_password.footer_text', :default => "If you didn't request this, please ignore this email.Your password won't change until you access the link above and create a new one.")
