!!!
%html
  %head
    %title BTR
    = stylesheet_link_tag 'formtastic'
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
  %body.page-home.bp
    #header.container
      %h1
        #nav
          - if user_signed_in?
            = link_to t('application.navigation.logout', :default => 'Logout'), destroy_user_session_path
          - else
            = link_to t('application.navigation.login', :default => 'Login'), new_user_session_path
        = link_to t('application.header.title', :default => 'Belongs2Root'), root_path
    - if notice || alert
      #flashes.container
        - if notice
          .notice= notice
        - if alert
          .alert= alert
    #content.container
      = yield
    #footer.container
      %p 
        &copy; 
        = Date.today.year